@tailwind preflight;
@tailwind utilities;

@import '~font-awesome/scss/font-awesome.scss';

html {
  @apply .h-full;
}

body {
  @apply .text-grey-darkest;
}

.table.notebook {
  border-spacing: 0;
  .table-cell {
    border: 1px solid rgba(31,157,85,0.2);
    height: 55px;
    vertical-align: middle;
  }
  .table-cell.notebool-box {
    width: 100%;
  }
}

.select {
  @apply block text-grey-darker appearance-none w-full bg-grey-lighter text-xl border border-grey-dark py-3 px-4 pr-8 rounded;
}


/*
* Components
*/
.btn {
  @apply .font-bold .py-3 .px-4 .rounded;
}

.btn-peacock {
  @apply .bg-peacock .text-white;
}
.btn-peacock:hover {
  @apply .bg-peacock-dark;
}

/*
* Transitions
*/
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s ease;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}

.child-view {
  position: absolute;
  transition: all .5s cubic-bezier(.55, 0, .1, 1);
}

.slide-left-enter, .slide-right-leave-active {
  opacity: 0;
  -webkit-transform: translate(30px, 0);
  transform: translate(30px, 0);
}

.slide-left-leave-active, .slide-right-enter {
  opacity: 0;
  -webkit-transform: translate(-30px, 0);
  transform: translate(-30px, 0);
}


